body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul bem clarinho */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px; /* Para melhorar a exibição no mobile */
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.message {
    margin-bottom: 20px;
}

.message p {
    margin: 10px 0;
}

.center {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.container button {
    background-color: #715732; /* Cor do botão */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.lyrics-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 0 20px; /* Para melhorar a exibição no mobile */
    box-sizing: border-box;
}

.lyrics-container p {
    max-width: 600px;
    line-height: 1.6;
    white-space: pre-wrap;
    text-align: center;
    margin-top: 20px;
}

.menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu-button {
    background-color: #715732; /* Cor do botão */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.menu-content {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.menu-content button {
    background-color: #715732; /* Cor do botão */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    width: 100%;
}
